body, html {
    height: 100%;
    margin: 0;
  }* 
  
{
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 25%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.img1 { background-image: url("../images/insta.jpg"); height: 65%; }
.img2 { background-image: url("../images/insta4.jpg"); height: 65%; }
.img3 { background-image: url("../images/white.jpg"); height: 50%; }

header {
  font-family: 'Cuprum', sans-serif;
  font-size: 117px; 
  text-align: center; 
  color: rgb(39, 39, 39);
  height: 190px;
}

#nunc {
  font-family: 'Wire One', sans-serif;
  font-size: 28px; 
  text-align: center; 
  color: rgb(39, 39, 39);
  margin-top: -40px; 
}

#saying {
  font-family: 'Pacifico', cursive;
  font-size: 45px; 
  color: white;
  margin-top: 28px; 
  text-shadow: 1px solid black; 
  z-index: 2; 
}

#saying2 {
  color: white; 
  font-size: 20px; 
  font-family: 'Abel', sans-serif;
}

* {
  box-sizing: border-box;
}

.item1 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  margin-top: 65px; 
  padding-top: 75px;
  background-image: url("../images/beach.jpg");
  text-align: center;
  color: white;
  font-size: 30px; 
  float: left;
}

.item2 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  margin-top: 65px; 
  padding-top: 75px;
  background-image: url("../images/pizza.jpg");
  text-align: center;
  float: right;
}

.item3 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  padding-top: 75px;
  background-image: url("../images/relax.jpg");
  text-align: center;
  color: black;
  font-size: 30px; 
  float: left;
}

.item4 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  padding-top: 75px;
  background-image: url("../images/umbrella.jpg");
  text-align: center;
  float: right;
}

.item5 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  padding-top: 45px;
  background-image: url("../images/engaged.jpg");
  text-align: center;
  float: left;
}

.item6 {
  width: 540px;
  height: 360px; 
  margin-bottom: 65px;
  background-image: url("../images/basic.jpg");
  text-align: center;
  float: right;
}

/* // captions */
.beach {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 55px;
  color: white; 
}
.engagement {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  color: white;
  margin-left: 10px;
  text-align: left; 
}
.umbrella {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: white; 
}

.relax {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  color: black;
  text-align: left; 
  margin-left: 2px; 
}

.pizza {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 55px;
  margin-bottom: 50px; 
  color: white;
  margin-left: 30px; 
  text-align: left; 
}

.basic {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: white; 
  float: left; 
  margin-left: 10px; 
}

.topnav { 
  font-family: 'Open Sans Condensed', sans-serif;
  float: right;
  margin-top: -140px;
  margin-right: 60px; 
}

a {
  font-size: 22px;
  color: rgb(47, 47, 48);
  text-align: center; 
}

a:hover {
  color: rgb(255, 175, 27);
  text-decoration: none; 
}

/* // responsiveness  */

@media only screen and (max-width: 1200px) {
  .img1, .img2 {
    height: 50%;
  }
  #saying2 {
    font-size: 14px;
  }
  a {
    font-size: 16px; 
  }
  .topnav {
    margin-right: 20px; 
  }
  .item1, .item2, .item3, .item4, .item5, .item6 {
    margin: 0 auto;
    border: 2px solid white;
    float: center;
  }
  .beach, .relax, .engagement, .basic, .umbrella, .pizza {
    font-size: 45px;
  }
}

/* // sign up form  */

.registration-form {
  width: 400px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 15%;
  background-color: white;
}
.registration-form header {
  position: relative;
  z-index: 4;
  background: white;
  padding: 20px 20px;
  border-radius: 15px 15px 0 0;
  height: 100px; 
}
.registration-form header h1 {
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #333;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
}
.registration-form header p {
  word-spacing: 0px;
  color: #9facb6;
  font-size: 17px;
  margin: 0;
  margin-top: 5px;
}

.registration-form form {
  position: relative;
}
.registration-form .input-section {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}
.registration-form .input-section.folded {
  width: 95%;
  margin-top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}
.registration-form .input-section.folded input {
  background-color: #e8ff67;
}
.registration-form .input-section.folded span {
  background-color: #e8ff67;
}
.registration-form .input-section.folded + .folded {
  width: 90%;
  margin-top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 0;
}
.registration-form .input-section.folded + .folded input {
  background-color: #e8ff67;
}
.registration-form .input-section.folded + .folded span {
  background-color: #e8ff67;
}
.registration-form .input-section.fold-up {
  margin-top: -75px;
}
.registration-form form input {
  background: white;
  color: #353535;
  width: 80%;
  border: 0;
  padding: 20px 40px;
  margin: 0;
}
.registration-form form input:focus {
  outline: none;
}
.registration-form form input::-webkit-input-placeholder {
  color: #353535;
  font-weight: 100;
}
.registration-form form input:-ms-input-placeholder {
  color: #353535;
  font-weight: 100;
}
.registration-form form input::-ms-input-placeholder {
  color: #353535;
  font-weight: 100;
}
.registration-form form input::placeholder {
  color: #353535;
  font-weight: 100;
}

.animated-button {
  width: 20%;
  background-color: #e8ff67;
}
.animated-button span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 75px;
  text-align: center;
  height: 75px;
  transition: all 0.2s ease-in;
}
.animated-button span i {
  font-size: 25px;
  color: #353535;
}
.animated-button .next-button {
  background: transparent;
  color: #353535;
  font-weight: 100;
  width: 100%;
  border: 0;
}

.next {
  margin-top: -75px;
}

.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  background: #e8ff67;
  margin-top: -75px;
}
.success p {
  color: #353535;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.whole-registration-form {
  margin-left: 900px;
}

.login-form {
  background-color: #353535; 
  width: 670px;
  height: 380px; 
  opacity: 0.95; 
  padding: 60px; 
  color: white;
  border-radius: 10px; 
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px; 
  font-weight: bold; 
}

#login-welcome {
  background-color: #353535;
  color: white; 
}

.btn {
  background-color: rgb(255, 255, 255); 
  font-size: 20px;
  font-weight: bold; 
}

.login-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: #757575;
}

.forgot {
  color: #e0f528;
  float: right; 
}